/* Global Reset Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Body Styles */
body {
    width: 100%;
    background-color: rgb(25, 25, 112);
    color: hwb(0 0% 100%);
}

/* Heading Styles */
#heading {
    margin-top: 100px;
    color: rgb(0, 0, 0);
    font-size: larger;
}

/* Form Control Styles */
.form-control{
    font-size: medium;
}

/* Logo Styles */
#logo {
    width: 50px;
    height: 50px; 
    margin-left: -1700px; 
}

/* Navbar Styles */
#nav {
    background-color: rgb(135, 206, 250);
}

/* Search Bar Styles */
#search-bar {
    max-width: 600px;
}

#search-bar input {
    height: 50px;
}

/* Card Styles */
#card {
    background-color: hsl(203, 92%, 75%);
    padding: 5px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 40%;
}

/* Meal Details Styles */
#meal-details{
    width: 100%;
    padding: 10px;
    background-color: hwb(203 53% 2%);
}

#meal-header{
    width: 70%;
    margin: auto;
}

#meal-thumbnail img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

#details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: italic;
}

/* Button Styles */
.btn-outline-light {
    border: 2px solid black;
    color:black;
    background-color: #d3d3d3;
}

.btn-outline-light:hover {
    border-color: navy;
    background-color: grey;
    color: darkgreen;
}

/* Meal Instruction Styles */
#meal-instruction{
    margin: auto;
    text-align: center;
    color: hwb(0 0% 100%);
}

/* Card Styles within the Offcanvas */
#favourites-body .card {
    height: 42%;
}

#favourites-body .card-img-top {
    height: 200px;
    object-fit: cover;
}

#favourites-body .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Offcanvas Styles */
.offcanvas-header {
    background-color: rgb(135, 206, 250);
}

.offcanvas-end {
    background-color: #191970;
}

/* Footer Styles */
#footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: black;
    color: hwb(0 50% 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 0;
}

/* Additional Styles (Signature) */
.signature {
    font-size: 20px;
    font-weight: bold;
}
